@page "/"

<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 align="center">Tugas Front-End</h1>
    <br><br>
    <p align="center">Mohon maaf kak, tugas ini saya kumpulkan dalam link github dikarenakan saya tidak memiliki akun azure<br> terima kasih :)</p>
    <img src="img/parasiteeve.jpg" alt="ehehe">
</body>



